<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div *ngFor="let field of formStructure">
    <label [for]="field.name">{{ field.label }}</label>
    <div *ngIf="field.type!='select';else elseblk">
      <input  [type]="field.type" [formControlName]="field.name" [placeholder]="field.placeholder" />
    </div>
    <ng-template #elseblk>
        <select [formControlName]="field.name">
          <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
        </select>
    </ng-template>
    <div *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched">
      <p *ngIf="form.get(field.name)?.errors?.['required']">This field is required.</p>
    </div>
  </div>
  <button type="submit">Submit</button>
</form>